PORT=80
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://127.0.0.1:29347/discord-callback
ADMIN_PASSWORD=
SERVER_URL=http://localhost
SESSION_EXPIRY_HOURS=72
ADMIN_SESSION_EXPIRY_HOURS=24
